.popup__text {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.21px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #000000;
  border: none;
  max-width: 358px;
}

.popup__text:nth-child(3) {
  padding-top: 13px;
}