.popup__text-error {
  margin:0;
  padding-top: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: red; 
  /* color: white;  */
  visibility: hidden;
  text-align: left;
  display: block;
  min-height: 30px;
}