.footer {
  margin: 0 auto;
  max-width: calc(100% - 2*200px);
  padding-top: 67px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 48px 19px 36px 19px;
    max-width: calc(100% - 2*100px);
  
  }
}

@media screen and (max-width: 579px) {
  .footer {
    padding: 48px 19px 36px 19px;
    max-width: calc(100% - 2*19px);
  }
}