.header {
  max-width: calc(100% - 2*200px);
  margin: 0 auto;
  padding: 45px 0 41px 0;
  background-color: #000000;
  display: flex;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1100px) {
  .header {
    max-width: calc(100% - 2*100px);
    padding: 28px 0 31.6px 27px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    max-width: 100%;
    margin-left: 0;
  }
}